<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>postprocessors</key>
    <array>
      <string>io.github.hjuutilainen.VirusTotalAnalyzer/VirusTotalAnalyzer</string>
      <string>com.scriptingosx.processors/Archive</string>
    </array>
    <key>recipes</key>
    <array>
      <string>1PasswordCLI.pkg</string>
      <string>1Password8.pkg</string>
      <string>appcleaner.pkg</string>
      <string>AutoPkg-Release.download</string>
      <string>coconutBattery.pkg</string>
      <string>Desktoppr.pkg</string>
      <string>dockutil.pkg</string>
      <string>DrawIO.pkg</string>
      <string>evernote.pkg</string>
      <string>Firefox.pkg</string>
      <string>Handbrake.pkg</string>
      <string>HexFiend.pkg</string>
      <string>iTerm2.pkg</string>
      <string>MicrosoftRemoteDesktop.pkg</string>
      <string>mySides.pkg</string>
      <string>local.pkg.QLMarkdown</string>
      <string>Signal.pkg</string>
      <string>slack.pkg</string>
      <string>Steam.pkg</string>
      <string>SublimeText3.pkg</string>
      <string>SuspiciousPackage.pkg</string>
      <string>SyntaxHighlight.pkg</string>
      <string>TheUnarchiver.pkg</string>
      <string>VisualStudioCode.pkg</string>
    </array>
    <key>archive_directory</key>
    <string>/Users/Shared/AutoPKG</string>
</dict>
</plist>
