<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>postprocessors</key>
    <array>
      <string>io.github.hjuutilainen.VirusTotalAnalyzer/VirusTotalAnalyzer</string>
      <string>com.scriptingosx.processors/Archive</string>
    </array>
    <key>recipes</key>
    <array>
      <string>AdobeCreativeCloudInstaller.pkg</string>
      <string>AdobeReaderDC.pkg</string>
      <string>AndroidStudio.pkg</string>
      <string>Atom.pkg</string>
      <string>coconutBattery.pkg</string>
      <string>Docker.pkg</string>
      <string>DrawIO.pkg</string>
      <string>GIMP.pkg</string>
      <string>HexFiend.pkg</string>
      <string>IDEA-IU.pkg</string>
      <string>IntelliJ-CE.pkg</string>
      <string>iTerm2.pkg</string>
      <string>Mattermost.pkg</string>
      <string>NodeJS.pkg</string>
      <string>RoyalTSX.pkg</string>
      <string>Sketch.pkg</string>
      <string>SourceTree.pkg</string>
      <string>SpringToolSuite.pkg</string>
      <string>SublimeText3.pkg</string>
      <string>TheUnarchiver.pkg</string>
      <string>VisualStudioCode.pkg</string>
      <string>Firefox.pkg</string>
      <string>GoogleChromePkg.pkg</string>
      <string>GoogleChromeCanary.pkg</string>
      <string>Opera.pkg</string>
      <string>MicrosoftEdge.pkg</string>
      <string>MicrosoftOffice365BusinessProSuite.pkg</string>
      <string>MicrosoftOffice365BusinessProSuite_volume.pkg</string>
      <string>MicrosoftRemoteDesktop.pkg</string>
      <string>MicrosoftSkypeForBusiness365.pkg</string>
      <string>MicrosoftTeams.pkg</string>
    </array>
    <key>archive_directory</key>
    <string>/Users/Shared/AutoPKG</string>
</dict>
</plist>
