<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FAIL_RECIPES_WITHOUT_TRUST_INFO</key>
	<true/>
	<key>RECIPE_OVERRIDE_DIRS</key>
	<string>~/autopkg/overrides</string>
	<key>RECIPE_REPOS</key>
	<dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.MichalMMac-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/MichalMMac-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.amsysuk-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/amsysuk-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.andrewvalentine-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/andrewvalentine-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.apettinen-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/apettinen-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.arubdesu-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/arubdesu-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.aysiu-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/aysiu-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.blackthroat-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/blackthroat-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.bnpl-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/bnpl-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.bochoven-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/bochoven-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.cgerke-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/cgerke-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.chilcote-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/chilcote-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.crystalllized-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/crystalllized-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/dataJAR-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.fishd72-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/fishd72-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.foigus-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/foigus-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.gerardkok-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/gerardkok-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hansen-m-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/hansen-m-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hjuutilainen-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/hjuutilainen-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.homebysix-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/homebysix-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jaharmi-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jaharmi-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jessepeterson-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jessepeterson-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jleggat-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jleggat-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jlehikoinen-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jlehikoinen-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jss-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jss-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.justinrummel-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/justinrummel-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.keeleysam-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/keeleysam-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.killahquam-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/killahquam-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.moofit-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/moofit-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.mosen-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/mosen-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.n8felton-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/n8felton-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.novaksam-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/novaksam-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.orchard-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/orchard-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.peshay-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/peshay-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rderewianko-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/rderewianko-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rtrouton-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/rtrouton-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.scriptingosx-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/scriptingosx-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.sheagcraig-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/sheagcraig-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.tbridge-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/tbridge-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.timsutton-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/timsutton-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.valdore86-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/valdore86-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.vmiller-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/vmiller-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.wholtz-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/wholtz-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.facebook.Recipes-for-AutoPkg</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/facebook/Recipes-for-AutoPkg</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.grahampugh.recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/grahampugh/recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.hjuutilainen.autopkg-virustotalanalyzer</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/hjuutilainen/autopkg-virustotalanalyzer.git</string>
		</dict>
		<key>~Library/AutoPkg/RecipeRepos/com.github.autopkg.48kRAM-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/48kRAM-recipes</string>
		</dict>
		<key>~Library/AutoPkg/RecipeRepos/com.github.autopkg.neilmartin83-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/neilmartin83-recipes</string>
		</dict>
	</dict>
	<key>RECIPE_SEARCH_DIRS</key>
	<array>
		<string>.</string>
		<string>~/Library/AutoPkg/Recipes</string>
		<string>/Library/AutoPkg/Recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.apettinen-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.keeleysam-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.justinrummel-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.cgerke-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.facebook.Recipes-for-AutoPkg</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hansen-m-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.sheagcraig-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hjuutilainen-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.homebysix-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rtrouton-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.scriptingosx-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.andrewvalentine-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.chilcote-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.crystalllized-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.foigus-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jaharmi-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.moofit-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.mosen-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.n8felton-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.timsutton-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.novaksam-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.killahquam-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.orchard-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jleggat-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.bnpl-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.MichalMMac-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.vmiller-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.valdore86-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jss-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.arubdesu-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.aysiu-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.gerardkok-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.peshay-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.grahampugh.recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.hjuutilainen.autopkg-virustotalanalyzer</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.wholtz-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.fishd72-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.48kRAM-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.blackthroat-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jessepeterson-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.amsysuk-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.tbridge-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jlehikoinen-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rderewianko-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.bochoven-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.neilmartin83-recipes</string>

	</array>
</dict>
</plist>
